<header class="main-header">
  <div class="container container--flex">
    <div class="main-header__container">

      <div class="hd-logo">
        <a href="#" class="hd-i-logo" alt="Alibaba.com" data-val="Alibaba.com">      
           <h1 class="main-header__title">GOGGLES</h1>
          </a>
      </div>
      <nav class="main-nav" id="main-nav">
        <ul class="menu">
          <li class="menu__item">
            <div class="title">
           <a class="menu__link" href="/" >Energía</a><i class="icon-arrow-right"></i>
         </div>
         <ul class="level-one">
           <li class="menu__item"><a class="menu__link" href="/" target="_blank">Medio ambiente</a></li>
           <li class="menu__item"><a class="menu__link" href="/" target="_blank">Otros productos ambientales</a></li>
           <li class="menu__item"><a class="menu__link" href="/" target="_blank">Otro exceso de inventario</a></li>
           <li class="menu__item"><a class="menu__link" href="/" target="_blank">Reciclaje</a></li>
               <a class="view-more" target="_blank" rel="nofollow" href="/"> Ver  más</a>
         </ul>
         </li>

         <li class="menu__item">
           <div class="title"> 
             <a href="/" class="menu__link">Principal</a><i class="icon-arrow-right"></i>
           </div>
           <ul class="level-one">
             <li class="menu__item"><a class="menu__link" href="/" target="_blank">Medio ambiente</a></li>
             <li class="menu__item"><a class="menu__link" href="/" target="_blank">Otros productos ambientales</a></li>
             <li class="menu__item"><a class="menu__link" href="/" target="_blank">Otro exceso de inventario</a></li>
             <li class="menu__item"><a class="menu__link" href="/" target="_blank">Reciclaje</a></li>
                 <a class="view-more" target="_blank" rel="nofollow" href="/"> Ver  más</a>
           </ul>
         </li>

         <li class="menu__item">
           <div class="title"> <a href="/about" class="menu__link">Acerca de </a>
           <i class="icon-arrow-right"></i>
         </div>
         <ul class="level-one">
           <li class="menu__item"><a class="menu__link" href="/" target="_blank">Medio ambiente</a></li>
           <li class="menu__item"><a class="menu__link" href="/" target="_blank">Otros productos ambientales</a></li>
           <li class="menu__item"><a class="menu__link" href="/" target="_blank">Otro exceso de inventario</a></li>
           <li class="menu__item"><a class="menu__link" href="/" target="_blank">Reciclaje</a></li>
               <a class="view-more" target="_blank" rel="nofollow" href="/"> Ver  más</a>
         </ul>
         </li>
         
         <li class="menu__item">
           <div class="title"><a href="/directorio" class="menu__link">Artículos</a>
           <i class="icon-arrow-right"></i>
         </div>
         <ul class="level-one">
           <li class="menu__item"><a class="menu__link" href="/" target="_blank">Medio ambiente</a></li>
           <li class="menu__item"><a class="menu__link" href="/" target="_blank">Otros productos ambientales</a></li>
           <li class="menu__item"><a class="menu__link" href="/" target="_blank">Otro exceso de inventario</a></li>
           <li class="menu__item"><a class="menu__link" href="/" target="_blank">Reciclaje</a></li>
              
           <a class="view-more" target="_blank" rel="nofollow" href="/"> Ver  más</a>
         </ul>

         </li>

         <li class="menu__item"> 
           <div class="title">  <a class="menu__link" href="#" target="_blank">Medio ambiente</a>
           <i class="icon-arrow-right"></i> 
         </div>
         <ul class="level-one">
           <li class="menu__item"><a class="menu__link" href="/" target="_blank">Medio ambiente</a></li>
           <li class="menu__item"><a class="menu__link" href="/" target="_blank">Otros productos ambientales</a></li>
           <li class="menu__item"><a class="menu__link" href="/" target="_blank">Otro exceso de inventario</a></li>
           <li class="menu__item"><a class="menu__link" href="/" target="_blank">Reciclaje</a></li>
               <a class="view-more" target="_blank" rel="nofollow" href="/"> Ver  más</a>
         </ul>
         </li>

         <li class="menu__item">
           
           <div class="title">
             <a class="menu__link" target="_blank" rel="nofollow" href="/contact">Ver más</a>
           <i class="icon-arrow-right"></i>
         </div>
         </li>
        </ul>
      </nav>
    </div>
    <div class="main-header__container">
      <span class="icon-menu" id="btn-inicio"><i class="fas fa bars"></i></span>
      <div class="menu-hd-box">
        <ul class="menu-hd">
          <li class="menu-help">
            <a target="&quot;_blank&quot;" href="#">envios Gratis</a>
  
          </li>
  
          <li class="menu-help"><a href="javascript:void(0)">Vender en Alibaba</a>
            <i class="sc-hd-prefix2-icon sc-hd-prefix2-icon-arrow-down sc-hd-prefix2-icon-xs"></i>
            <i class="sc-hd-panel-arrow"></i>
            <div class="sc-panel">
              <ul>
                <li class="menu-help"><a target="&quot;_blank&quot;" href="//seller.alibaba.com/?tracelog=pc_header">
                    <span class="sc-hd-text-warp">Para vendedor global</span>
                  </a>
                </li>
  
                <li class="menu-help"> <a target="&quot;_blank&quot;" href="//supplier.alibaba.com/?joinSource=gw_com_pc_head2">
                    <span class="sc-hd-text-warp">Para vendedor chino</span>
                  </a>
                </li>
  
                <li class="menu-help"> <a target="&quot;_blank&quot;" href="//partner.alibaba.com">
                    <span class="sc-hd-text-warp">Servicios</span>
                  </a>
                </li>
              </ul>
            </div> 
           </li>
  
          <li  class="menu-help">
             <a href="javascript:void(0)"><span class="main-header__txt">Need Help</span></a>
            <i class="sc-hd-panel-arrow"></i>
            <div class="sc-panel">
              <ul>
                  <li class="menu-help"> <a target="&quot;_blank&quot;" href="//service.alibaba.com/buyer/?tracelog=hd_hp_buyerhp">
                    <span class="sc-hd-text-warp">Para los compradores</span>
  
                  </a>
                </li>
  
                <li class="menu-help"> <a target="&quot;_blank&quot;" href="//service.alibaba.com/ensupplier?tracelog=hd_hp_supplierhp_en">
                    <span class="sc-hd-text-warp">Para los proveedores</span>
  
                  </a>
                </li>
  
                <li class="menu-help"> <a target="&quot;_blank&quot;"
                    href="//rule.alibaba.com/complaint/center/index.htm?tracelog=hd_hp_sub_dis">
                    <span class="sc-hd-text-warp">Presentar una disputa</span>
  
                  </a>
                </li>
  
                <li class="menu-help"> <a target="&quot;_blank&quot;" href="//channel.alibaba.com/complaint/home.htm?tracelog=hd_hp_reportSB">
                    <span class="sc-hd-text-warp">Denunciar abuso</span>
  
                  </a>
                </li>
                
  
              </ul>
              <p class="main-header__txt"><i class="fas fa-phone"></i> Call 12345678099</p>
            </div>
  
          </li>
        </ul>
      </div>
    </div>
    <div class="main-header__container">
      <input type="search" class="main-header__input" placeholder="Buscar productos"><i class="fas fa-search"></i>
      <a href="/user" class="main-header__link"><i class="fas fa-user"></i></a>
      <a href="" class="main-header__btn">Mi Cart <i class="fas fa-shopping-cart"></i></a>
    </div>
  </div>
</header>